<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.5" targetFramework="net471" />
  <package id="MailKit" version="2.4.1" targetFramework="net471" />
  <package id="MimeKit" version="2.4.1" targetFramework="net471" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net471" />
</packages>