<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net471" />
  <package id="Mail.dll" version="3.0.19162.1801" targetFramework="net471" />
  <package id="MailKit" version="2.5.0" targetFramework="net471" />
  <package id="MimeKit" version="2.5.0" targetFramework="net471" />
</packages>